[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Testing
factory-boy = "~=3.2.0"
pytest = "~=6.2.2"
pytest-cov = "*"

# Lint and code style
black = "==20.8b1"
flake8 = "~=3.9.1"
flake8-blind-except = "~=0.2.0"
flake8-debugger = "~=4.0.0"
flake8-docstrings = "~=1.6.0"
flake8-isort = "~=4.0.0"
isort = "~=5.8.0"
mypy = "~=0.790"
pep8-naming = "~=0.11.1"
pylint = "~=2.8.2"

"e1839a8" = {path = ".", editable = true}

# Documentation and Docstrings
# pyment = "~=0.3.4"
pyment = {git = "https://github.com/dadadel/pyment",editable = true}

[packages]
SQLAlchemy = "~=1.4.11"
# for Postgresql
psycopg2 = "~=2.8.6"
alembic = "~=1.5.7"
gpiozero = "~=1.6.2"
netifaces = "~=0.10.9"
click = "~=7.1.2"
psutil = "~=5.8.0"
pika = "~=1.2.0"
celery = "~=5.0.0"
multiprocessing-logging = "~=0.3.0"

[requires]
python_version = "3.9"
