[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"e1839a8" = {path = ".", editable = true}

[packages]
sqlalchemy = "*"
alembic = "*"
gpiozero = "*"
netifaces = "*"
click = "*"
psutil = "*"
requests = "*"
pika = "*"
celery = "*"
multiprocessing-logging = "*"

[requires]
python_version = "3.6"
